:root {
  --clr-primary: #000; /*black*/
  --clr-secondary: #333; /*dark grey*/
  --clr-accent: #333; /* dark grey*/
  --clr-light: #f2f2f2; /*light grey*/
  --clr-white: #fff; /*white*/
}

/* Border Box Fix */
* {
  box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove Padding from Lists */
ul,
ol {
  padding: 0;
}
a{
  text-decoration: none;
}
.top-navbar,
.side_bar {
  display: none;
}

.mobile_navbar {
  position: relative;
}
.content {
  display: none;
  position: absolute;
  top: 100%; /* Position below the navbar */
  left: 0;
  background-color: white;
  padding: 10px;
}