ul h3 {
  color: var(--clr-secondary-text);
}
a {
  text-decoration: none;
  color: var(--clr-secondary-text);
}
img {
  width: 100%;
  height: auto;
  max-width: 500px;
  display: block;
  margin: 0 auto 1rem;
}
p {
  max-width: 80ch; /* Limiting paragraph width to 60-80 characters */
  margin: 0 auto 1rem; /* Centering paragraphs within the container and adding bottom margin */
}
/*for active page*/
.active {
  font-weight: var(--fw-700);
  color: var(--clr-light);
  text-decoration: underline;
}
/** hide top-navbar and sidebar*/
.top__navbar,
.side__bar {
  display: none;
}
/* sidebar_heading*/
.sidebar__heading {
  padding: 1% 0%;
}
.navbar__mobile {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--clr-secondary-bg);
  color: var(--clr-secondary-text);
  padding: 1.5%;
}
.content {
  display: none;
  position: absolute;
  top: 100%; /* Position below the navbar */
  left: 0;
  background-color: white;
  padding: 10px;
}
.navbar-mobile__content a {
  display: block;
}
/* toggel side*/
.toggle {
  float: right;
  display: block;
}
/* Hide the "X" symbol initially */
.toggle .fa-times {
  display: none;
}

/* Show the "X" symbol when the toggle button is active */
.toggle.active .fa-times {
  display: inline;
}

/* Hide the "bars" icon when the toggle button is active */
.toggle.active .fa-bars {
  display: none;
}
.navbar-mobile__content {
  display: none; /* Hide content initially on small screens */
}
a:hover {
  background-color: var(--clr-secondary-text);
  color: var(--clr-primary-text);
}
/*--------colors---------------*/
/*color box*/
.color-container__content {
  padding: 15% 10%;
  margin: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/**contanier*/
.color-container__item {
  text-align: center;
  display: inline-block;
  width: 300px; /* Adjust the width as needed */
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--clr-nuetral);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/*================Typography=============*/

.typography__border {
  border-radius: 8px; /* Adjust the value as needed */
  border: 2px solid var(--clr-nuetral);
  width: 300px;
}
/***from w3.school**/
table {
  border: 1px solid var(--clr-nuetral);
  border-radius: 8px;
  font-family: var(--font-body);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 2px;
  font-size: 12px;
}

tr:nth-child(even) {
  background-color: var(--clr-primary-bg);
}
.table__heading {
  color: var(--clr-secondary-text);
  background-color: var(--clr-secondary-bg);
}
.table__heading--border{
  border: 1px solid var(--clr-nuetral);
  border-radius: 8px;
}
/*-------About me-----*/
img {
  width: 100%;
  height: auto;
  max-width: 500px;
  display: block;
  margin: 0 auto 1rem;
}
p {
  max-width: 80ch; /* Limiting paragraph width to 60-80 characters */
  margin: 0 auto 1rem; /* Centering paragraphs within the container and adding bottom margin */
}

.table-wrapper {
  border: 1px solid black;
  border-radius: 10px; /* Adjust the radius as needed */
  overflow: hidden; /* Ensures content inside doesn't overflow rounded corners */
}
.main-content {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Allow content to scroll */
}
/*====================================================Destktop===============================================================================*/
@media only screen and (min-width: 768px) {
  .top__navbar,
  .side__bar {
    display: block;
    background-color: var(--clr-secondary-bg);
    color: var(--clr-primary-text);
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
 
  .side__bar {
    width: 15%;
    margin-top: 5%;
  }
  /* sidebar_heading*/
  .sidebar__heading {
    padding: 4% 0%;
  }
  .navbar__mobile {
    display: none;
  }
  /***top navbar content*/
  .top__navbar {
    padding: 2%;
    display: flex;
    gap: 70%;
  }
  .top-navbar__content {
    display: flex;
    gap: 20px;
  }
  /*--------color--------*/
  .color-container__item{
    width: 400px;
  }

  /*=====Typography===*/

  table {
    width: 80%;
  }
  td,
  th {
    font-size: var(--body-size);
  }
  .typography__border{
    width: 420px;
  }
}
