:root {
    --clr-primary: #000; /*black*/
    --clr-secondary: #333;  /*dark grey*/
    --clr-accent: #333;  /* dark grey*/
    --clr-light: #f2f2f2;  /*light grey*/
    --clr-white: #fff;  /*white*/
  }