:root {

  --clr-primary-text: #78454f;
  --clr-primary-bg: #F1ECED;
  --clr-secondary-text: #fff;
  --clr-secondary-bg: #78454f;
  --clr-accent: #5E3838;
  --clr-light: #a6eae2;
  --clr-nuetral:#E4D9DB;
  --clr-nuetral2 :#D6C7CA;
}
/* Font Families */
:root {
  --font-heading: "Roboto", sans-serif;
  --font-body: "Lato", sans-serif;
}
/**Font size**/
:root {
  --h1-size: 36px;
  --h2-size: 24px;
  --h3-size: 18px;
  --body-size: 16px;
}
/** Font Weight **/
:root {
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 600;
  --fw-700: 700;
}
/**Line height**/
:root {
  --lh-heading: 1.2;
  --lh-body: 1.5;
}

/**latter Spacing**/
:root {
  --ls-heading: 0.02em;
  --ls-body: 0.03em;
}

/* Border Box Fix */
* {
  box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove Padding from Lists */
ul,
ol {
  padding: 0;
  margin: 0;
}

/*color for swatches*/
.u-bg__primary {
  background-color: var(--clr-primary-bg);
}
.u-text__primary {
  background-color: var(--clr-primary-text);
}
.u-accent {
  background-color: var(--clr-accent);
}
.u-bg__secondary {
  background-color: var(--clr-secondary-bg);
}
.u-text__secondary {
  background-color: var(--clr-secondary-text);
}
.u-nuetral {
  background-color: var(--clr-nuetral);
}
.u-nuetral2 {
  background-color: var(--clr-nuetral2);
}
/*===Typography===*/

/**font family*/
.u-ff-Roboto{
  font-family: var(--font-heading);
}
.u-ff-Lato {
  font-family: var(--font-body);
}

/** font weight**/
.u-fw-200 {
  font-weight: var(--fw-200);
}
.u-fw-300 {
  font-weight: var(--fw-300);
}
.u-fw-400 {
  font-weight: var(--fw-400);
}
.u-fw-500 {
  font-weight: var(--fw-500);
}
.u-fw-700 {
  font-weight: var(--fw-700);
}

/** Letter height**/
.u-lh-heading {
  line-height: var(--lh-heading);
}
.u-lh-body {
  line-height: var(--lh-body);
}

/** latter Spacing**/
.u-ls-heading {
  letter-spacing: var(--ls-heading);
}
.u-ls-body {
  letter-spacing: var(--ls-body);
}

/**font size**/
h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
p {
  font-size: var(--body-size);
}
