:root {
  --clr-primary-text: #78454f;
  --clr-primary-bg: #f1eced;
  --clr-secondary-text: #fff;
  --clr-secondary-bg: #78454f;
  --clr-accent: #5e3838;
  --clr-light: #a6eae2;
  --clr-nuetral: #e4d9db;
  --clr-nuetral-light: #d6c7ca;
}
/* Font Families */
:root {
  --font-heading: "Roboto", sans-serif;
  --font-body: "Lato", sans-serif;
}
/**Font size**/
:root {
  --h1-size: 36px;
  --h2-size: 24px;
  --h3-size: 18px;
  --body-size: 16px;
}
/** Font Weight **/
:root {
  --fw-400: 400;
  --fw-500: 600;
  --fw-700: 700;
}
/**Line height**/
:root {
  --lh-heading: 1.2;
  --lh-body: 1.5rem ;
}

/**latter Spacing**/
:root {
  --ls-heading: 0.02em;
  --ls-body: 0.03em;
}

/* Border Box Fix */
* {
  box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove Padding from Lists */
ul,
ol {
  padding: 0;
  margin: 0;
}

/*color for swatches*/
.u-bg__primary {
  background-color: var(--clr-primary-bg);
}
.u-text__primary {
  background-color: var(--clr-primary-text);
}
.u-accent {
  background-color: var(--clr-accent);
}
.u-bg__secondary {
  background-color: var(--clr-secondary-bg);
}
.u-text__secondary {
  background-color: var(--clr-secondary-text);
}
.u-nuetral {
  background-color: var(--clr-nuetral);
}
.u-nuetral__light {
  background-color: var(--clr-nuetral-light);
}
/*===Typography===*/

/**font family*/
.u-ff-Roboto {
  font-family: var(--font-heading);
}
.u-ff-Lato {
  font-family: var(--font-body);
}

/** font weight**/

.u-fw-400 {
  font-weight: var(--fw-400);
}
.u-fw-500 {
  font-weight: var(--fw-500);
}
.u-fw-700 {
  font-weight: var(--fw-700);
}

/** Letter height**/
.u-lh-heading {
  line-height: var(--lh-heading);
}
.u-lh-body {
  line-height: var(--lh-body);
}

/** latter Spacing**/
.u-ls-heading {
  letter-spacing: var(--ls-heading);
}
.u-ls-body {
  letter-spacing: var(--ls-body);
}

/**font size**/
h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
p {
  font-size: var(--body-size);
}
/*--------------------Margin--------------------*/
/* Applies margin to all sides */
.l-m-1 { margin: 1rem; } 
.l-m-1_5 { margin: 1.5rem; }
.l-m-2 { margin: 2rem; }

/* Applies margin to top */
.l-mt-1 {margin-top: 1rem; } 
.l-mt-1_5 { margin-top: 1.5rem; }
.l-mt-2{ margin-top: 2rem; }
.l-mt-2_5{ margin-top: 2.5rem; }

/* Applies margin to bottom */
.l-mb-1 { margin-bottom: 1rem;}
.l-mb-1_5 { margin-bottom: 1.5rem;}
.l-mb-2 { margin-bottom: 2rem;}

/* Applies margin to right */
.l-mr-1 { margin-right: 1rem; }
.l-mr-2 { margin-right: 2rem; }
.l-mr-2_5 { margin-right: 2.5rem; }

/* Applies margin to left */
.l-ml-1 { margin-left: 1rem; }
.l-ml-2 { margin-left: 2rem; }
.l-ml-2_5 { margin-left: 2.5rem; }

/*--margin for top and bottom--*/

.l-my-1{ margin-top: 1rem;   margin-bottom: 1rem; }
.l-my-1_5{ margin-top: 1.5rem;   margin-bottom: 1.5rem; }
.l-my-2{ margin-top: 2rem;   margin-bottom: 2rem; }

/*--margin for left and right --*/
.l-mx-1{  margin-right: 1rem; margin-left: 1rem; }
.l-mx-1_5{  margin-right: 1.5rem; margin-left: 1.5rem;  }
.l-mx-2{ margin-right: 2rem; margin-left: 2rem;  }


/*------------------padding--------------------*/
/*---every side padding--*/
.l-p-1 { padding: 1rem; }
.l-p-1_5 { padding: 1.5rem; }
.l-p-2 { padding: 2rem; }

/*------left padding-----*/
.l-pl-1_5{padding-left: 1.5rem;}
.l-pl-2{padding-left: 2rem;}




/*--padding for top and bottom--*/
.l-py-1_5 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.l-py-2 { padding-top: 2rem; padding-bottom: 2rem; }
.l-py-2_5 { padding-top: 2.5rem; padding-bottom: 2.5rem; }

/*--padding for right and left--*/
.l-px-1 { padding-left: 1rem;  padding-right: 1rem; }
.l-px-1_5 { padding-left: 1.5rem;  padding-right: 1.5rem; }
.l-px-2 { padding-left: 2rem;  padding-right: 2rem; }

/*--------Layout Classes--*/
.l-flex {display: flex;}
.l-flex-column{
  flex-direction: column;
}

.l-fgap-20{gap: 20rem;}
.l-grid {display: grid;}
/* .l-flex-coulmn{flex-direction: column;}
.l-flex-row{
  flex-direction: row;
} */


@media only screen and (min-width: 768px) {
/***padding top*/
.l-pt-6_5{
  padding-top: 6.25rem;
}
.l-pl-19{padding-left: 19rem;}
.l-flex-row{
  flex-direction: row;
}
}

